<% content_for :title, t('professionals.edit.title') %>

<h1><%= t('professionals.edit.title') %></h1>

<%= render "form", professional: @professional %>

<br>

<div>
  <%= link_to t('professionals.edit.show_link'), @professional %> |
  <%= link_to t('professionals.edit.back_link'), professionals_path %>
</div>
