<% content_for :title, t('professionals.new.title') %>

<h1><%= t('professionals.new.title') %></h1>

<%= render "form", professional: @professional %>

<br>

<div>
  <%= link_to t('professionals.new.back_link'), professionals_path %>
</div>
