<% content_for :title, t('patients.edit.title') %>

<h1><%= t('patients.edit.title') %></h1>

<%= render "form", patient: @patient %>

<br>

<div>
  <%= link_to t('patients.edit.show_link'), @patient %> |
  <%= link_to t('patients.edit.back_link'), patients_path %>
</div>
