<% content_for :title, t('patients.new.title') %>

<h1><%= t('patients.new.title') %></h1>

<%= render "form", patient: @patient %>

<br>

<div>
  <%= link_to t('patients.new.back_link'), patients_path %>
</div>
